- if @passcode.errors.present?
  %p= _ 'Your passcode could not be saved because of the errors marked below.'

= form_for @passcode do |f|
  = f.input_div :code, label: _('Passcode')
  = f.input_div :ap, label: _('AP')
  = f.input_div :xm, label: _('XM')
  .line_item
    = f.fields_for :line_items, child_index: '' do |li|
      = render_cell :item_selector, :show, form: li
      = li.input_div :item_level, label: _('Level')
      = li.input_div :quantity
  = f.button _('More'), class: 'new_line_item', type: 'button'

  = f.submit _('Save')
